# Copy this file to `.env` and fill in your API keys.
# Example: copy .env.example .env

DJANGO_SECRET_KEY=replace-me
OPENWEATHER_API_KEY="4eec84c7df1d83299a99be451295358c"
WAQI_API_KEY="fa36e54e9ca3f6389b07754649bd057229cf2374"

# Optional: other environment variables
# DEBUG=True